.input-regist {
  resize: none;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.8;
  padding: 2px 12px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #4D4D4F;
}
